<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wheel.name %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @wheel.speed %>
</p>

<p>
  <strong>Efficency:</strong>
  <%= @wheel.efficency %>
</p>

<p>
  <strong>Power:</strong>
  <%= @wheel.power %>
</p>

<%= link_to 'Edit', edit_wheel_path(@wheel) %> |
<%= link_to 'Back', wheels_path %>
