<p id="notice"><%= notice %></p>

<h1>Spoilers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Speed</th>
      <th>Efficency</th>
      <th>Power</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spoilers.each do |spoiler| %>
      <tr>
        <td><%= spoiler.name %></td>
        <td><%= spoiler.speed %></td>
        <td><%= spoiler.efficency %></td>
        <td><%= spoiler.power %></td>
        <td><%= link_to 'Show', spoiler %></td>
        <td><%= link_to 'Edit', edit_spoiler_path(spoiler) %></td>
        <td><%= link_to 'Destroy', spoiler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spoiler', new_spoiler_path %>
