<%= form_with(model: accessorry) do |form| %>
  <% if accessorry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accessorry.errors.count, "error") %> prohibited this accessorry from being saved:</h2>

      <ul>
        <% accessorry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :speed %>
    <%= form.number_field :speed %>
  </div>

  <div class="field">
    <%= form.label :efficency %>
    <%= form.number_field :efficency %>
  </div>

  <div class="field">
    <%= form.label :power %>
    <%= form.number_field :power %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
