<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @accessorry.name %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @accessorry.speed %>
</p>

<p>
  <strong>Efficency:</strong>
  <%= @accessorry.efficency %>
</p>

<p>
  <strong>Power:</strong>
  <%= @accessorry.power %>
</p>

<%= link_to 'Edit', edit_accessorry_path(@accessorry) %> |
<%= link_to 'Back', accessorries_path %>
